<%- include("header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <p>Title</p>
<input type="text" name="paratitle">
<br>
<br>
<br>
<p style="margin = 1rem">Post</p>
<textarea name="para" rows="8" cols="150"></textarea>
<br>
<br>
<button type="submit" class="btn btn-lg btn-primary" name="button">Publish</button>
